{% extends "layout.html" %}

{% block content %}
    <h1>Welcome to My Programming Portfolio!</h1>
    <p>Hello, I'm Adrien Ngassam Yotchou, a passionate software developer with experience in various technologies like Python, JavaScript, Flask, and more.</p>

    <section id="skills">
        <h2>My Skills</h2>
        <ul>
            <li>Python</li>
            <li>Java</li>
            <li>Flask</li>
            <li>HTML, CSS, and JavaScript</li>
            <li>SQL Databases</li>
        </ul>
    </section>

    <section id="projects">
        <h2>My Projects</h2>
        <ul>
            <li><a href="https://github.com/nadrienho/LSBU.git">Project 1: Description</a></li>
            <li><a href="https://github.com/nadrienho/My-programming-work.git">Project 2: Description</a></li>
        </ul>
    </section>
{% endblock %}
